* {
    margin: 0;
    padding: 0;
  }
  /*header*/
  header {
    display: flex;
    background-color: #5B8BB2;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    font-family: "Sour Gummy", sans-serif;
  }
  /*Logo*/
  img {
    width: 6em;
  }
  /*Nav bar*/
  nav > a {
    text-decoration: none;
    color: black;
    padding: 1em;
    font-size: 1.5em;
    color: #010658;
  }
  /*Background color*/
  body {
    background-color: #2C57AB;
  }
  /*footer*/
  footer {
    background-color: #5B8BB2;
    text-align: center;
    font-size: 1em;
    padding: 0.7em 0;
  }